footer.main-section {
  height: 100%;
  overflow: hidden;
  padding-bottom: 0;

  .footer-img {
    height: 35%;
    margin: 5% auto;
    overflow: visible;
    width: 80%;

    img {
      border-radius: 50%;
      clear: left;
      float: left;
      width: 25%;
    }

    p {
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.6rem;
      margin-left: 30%;
      padding-top: 8%;
      width: 70%;
    }
  }

  p {
    margin: 0 auto;
    text-align: center;
  }

  div {
    overflow: auto;
  }



  i {
    margin-right: rem(10);
  }

}
