

// =============================================================================
                            // Neat settings
// =============================================================================

$visual-grid: true;

$mobile: new-breakpoint(max-width 480px 4);


// =============================================================================
                                // Imports
// =============================================================================

@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';




// =============================================================================
                            // Global styles
// =============================================================================

body {
  font-size: 100%;
}

.container {
  @include outer-container;
}


// =============================================================================
                                // Header
// =============================================================================

header {
  border-bottom: solid 1px;
  height: 5rem;
}


// =============================================================================
                                    // Body
// =============================================================================




// =============================================================================
                                  // Footer
// =============================================================================

footer {
  border-top: solid 1px;
  height: 5rem;
}
