@import '../../bower_components/bourbon/dist/bourbon';
@import 'global';
@import 'header';
@import 'nav';
@import 'layout';
@import 'content';


// =============================================================================
                                    // Body
// =============================================================================

main {
  margin: 0 auto;
  max-width: rem(1080);
  overflow: auto;
  width: 90%;

  .description {

    h1 {
      font-size: 2.25rem;
      letter-spacing: .1rem;
      margin: 3rem 2rem 0;
      text-align: center;
    }

    p {
      font-family: $serif;
      font-size: 1.2rem;
      font-style: italic;
      margin: 1.67rem 1.67rem 2.79rem;
      text-align: center;
    }
  }

  figure {
    color: #fff;
    margin: 0 0 1.67em;
    max-width: 640px;
    overflow:hidden;
    position: relative;
    width: 100%;

    figcaption {
      // background: rgba($primary-color, .8);
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
      padding: 15%;
      transition-duration: .5s;
      width: 100%;
      z-index: 100;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition-duration: .3s;
        width: 100%;
      }
    }

    &:hover figcaption {
      opacity: 1;

      &::before {
        // border: solid 1px lighten($primary-color, 20%);
        top: 10%;
        left: 7%;
        height: 80%;
        width: 86%;
      }
    }

    h2 {
      font-weight: 600;

      span{
        font-family: $lato;
        font-weight: 400;
        line-height: rem(33);
      }
    }

    p {
      font-family: $lato;
      font-size: 1.1em;
    }

    a {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
      width: 100%;
      z-index: 5;
    }

    img {
      // border: solid 1px lighten($primary-color, 20%);
      object-fit: cover;
      transition-duration: .5s;
      width: 100%;
    }

    &:hover img {
      transform: scale(1.05, 1.05);
    }
  }
}


// =============================================================================
                                  // Footer
// =============================================================================

footer {
  border-top: solid 1px;
  height: 5rem;
}


// =============================================================================
                                  // media queries
// =============================================================================

@media screen and (min-width: 700px) {
  main {
    figure {
      margin-right: 5%;
      width: 47%;
      float: left;

      &:nth-of-type(even) {
        margin-right: 0;
      }
    }
  }
}
