div {
  overflow: auto;
}

body {
  padding: 0;
  margin: 0;
  color: #121A24;
}

header {
  background: #DADEE5 url('portfolio_images/sun.jpg');
  background-size: cover;
  height: 625px;
}

.colors {
  width: 600px;
  margin: 50px auto;
  border: solid 1px  #121A24;
}
.color {
  width: 100px;
  float: left;
  height: 100px;
}

.color1 {
  background: #DADEE5;
}

.color2 {
  background: #6297A6;
}

.color3 {
  background: #A17E37;
}

.color4 {
  background: #121A24;
}

.color5 {
  background: #9F777D;
}
.images {
  text-align: center;
}
img {
  width: 100%;
}

.profile-pic {
  width: 200px
}
.icons {
  text-align: center;
}
i {
  margin: 1em;
}
i:before {
  font-size: 3em;
}
.typography {
  width: 67%;
  max-width: 700px;
  margin: 0 auto;
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.lato {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.serif {
  width: 50%;
  font-size: .8em;
  font-family: 'PT Serif', serif;
  letter-spacing: .03em;
  line-height: 1.5em;
}

.work-example {
  width: 780px;
  margin: 0 auto;
  background: #DADEE5;
}

.work-left {
  width: 480px;
  height: 480px;
  float: left;
}

.work-img {
  height: 360px;
  object-fit: cover;
}
